
.NavCircleButton {
  background-color: #8d7eb8;
  border-radius: 5px;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

a.NavCircleButton {
  padding: 16px 8px 8px;
}

.NavCircleButton:hover {
  cursor: pointer;
}
